<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Click-That-Recommendation-Button" data-toc-modified-id="Click-That-Recommendation-Button-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Click That Recommendation Button</a></span><ul class="toc-item"><li><span><a href="#Business-Understanding-and-Business-Problem" data-toc-modified-id="Business-Understanding-and-Business-Problem-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Business Understanding and Business Problem</a></span><ul class="toc-item"><li><span><a href="#Cost-of-Errors" data-toc-modified-id="Cost-of-Errors-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Cost of Errors</a></span></li></ul></li><li><span><a href="#Data-Understanding" data-toc-modified-id="Data-Understanding-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data Understanding</a></span><ul class="toc-item"><li><span><a href="#Initial-Data" data-toc-modified-id="Initial-Data-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Initial Data</a></span></li></ul></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Exploratory Data Analysis</a></span><ul class="toc-item"><li><span><a href="#Exploring-links_df" data-toc-modified-id="Exploring-links_df-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Exploring <code>links_df</code></a></span></li><li><span><a href="#Exploring-movies_df" data-toc-modified-id="Exploring-movies_df-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Exploring <code>movies_df</code></a></span></li><li><span><a href="#Exploring-ratings_df" data-toc-modified-id="Exploring-ratings_df-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Exploring <code>ratings_df</code></a></span></li><li><span><a href="#Exploring-tags_df" data-toc-modified-id="Exploring-tags_df-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Exploring <code>tags_df</code></a></span></li><li><span><a href="#Creating-a-New-DataFrame-with-Relevant-Data" data-toc-modified-id="Creating-a-New-DataFrame-with-Relevant-Data-1.3.5"><span class="toc-item-num">1.3.5&nbsp;&nbsp;</span>Creating a New DataFrame with Relevant Data</a></span><ul class="toc-item"><li><span><a href="#Additional-EDA-that-likely-can-be-dropped-for-final-notebook" data-toc-modified-id="Additional-EDA-that-likely-can-be-dropped-for-final-notebook-1.3.5.1"><span class="toc-item-num">1.3.5.1&nbsp;&nbsp;</span><strong>Additional EDA that likely can be dropped for final notebook</strong></a></span></li></ul></li></ul></li><li><span><a href="#Modeling" data-toc-modified-id="Modeling-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Modeling</a></span></li><li><span><a href="#First-Baseline-Model" data-toc-modified-id="First-Baseline-Model-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>First Baseline Model</a></span></li><li><span><a href="#Model-KNN-with-Z-Score" data-toc-modified-id="Model-KNN-with-Z-Score-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Model KNN with Z-Score</a></span></li><li><span><a href="#Model-with-SVD" data-toc-modified-id="Model-with-SVD-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Model with SVD</a></span></li><li><span><a href="#Model-with-SVD++" data-toc-modified-id="Model-with-SVD++-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Model with SVD++</a></span></li><li><span><a href="#All-Models?-(maybe-we-can-condense-the-modeling-section-so-its-not-a-bunch-of-the-same-code-again-and-again)" data-toc-modified-id="All-Models?-(maybe-we-can-condense-the-modeling-section-so-its-not-a-bunch-of-the-same-code-again-and-again)-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>All Models? (maybe we can condense the modeling section so its not a bunch of the same code again and again)</a></span><ul class="toc-item"><li><span><a href="#Gridsearch-best-model" data-toc-modified-id="Gridsearch-best-model-1.9.1"><span class="toc-item-num">1.9.1&nbsp;&nbsp;</span>Gridsearch best model</a></span></li></ul></li></ul></li><li><span><a href="#Creating-a-New-User" data-toc-modified-id="Creating-a-New-User-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Creating a New User</a></span><ul class="toc-item"><li><span><a href="#Go-back-tomorrow-and-check-output-for-all-functions-to-see-why-it-isnt-saving-to-the-dataframe" data-toc-modified-id="Go-back-tomorrow-and-check-output-for-all-functions-to-see-why-it-isnt-saving-to-the-dataframe-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Go back tomorrow and check output for all functions to see why it isnt saving to the dataframe</a></span></li><li><span><a href="#making-predictions-with-surprise" data-toc-modified-id="making-predictions-with-surprise-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>making predictions with surprise</a></span></li><li><span><a href="#Final-Model" data-toc-modified-id="Final-Model-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Final Model</a></span></li><li><span><a href="#Results/Conclusions" data-toc-modified-id="Results/Conclusions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Results/Conclusions</a></span><ul class="toc-item"><li><span><a href="#Further-Exploration/Questions" data-toc-modified-id="Further-Exploration/Questions-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Further Exploration/Questions</a></span></li></ul></li></ul></li></ul></div>

insert header

# Click That Recommendation Button

## Business Understanding and Business Problem

Our team has been tasked with implementation of a recommendation system for the movie rental company, RedBox. We have three main goals:

- Create a recommendation system model that allows users to input movie ratings and provides movie suggestions
- Be able to store user ratings for future recommendation requests
- Be able to provide specific genre recommendations based on a users request

### Cost of Errors

Cost of Errors is somewhat ephemeral for this project. The main cost of errors would be user trust and loyalty. 

While the goal is to build user loyalty and create a seamless user experience from recommendation to rental, if users don't find value in the recommendations provided than that loyalty is lost in an instant.

## Data Understanding

In [51]:
#imports grabbed from lecture
from random import gauss as gs, uniform as uni, seed
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

from surprise import Reader, Dataset
from surprise.model_selection import train_test_split
from surprise.prediction_algorithms import knns, SVD, BaselineOnly, SVDpp
from surprise.similarities import cosine, msd, pearson
from surprise import accuracy


import warnings
warnings.filterwarnings('ignore')

### Initial Data

Our data was provided by MovieLens data set and includes over 100,000 ratings made by 600 users across almost 10,000 movies. The data is broken into four different .CSV files and further analysis of these files is discussed below.

In [2]:
#the four csv files provided
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

In [3]:
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [4]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

## Exploratory Data Analysis

### Exploring `links_df`

In [8]:
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

This file is a key to merge movie identifiers with IMDB Database and The Movie DataBase. We will be focusing on the MovieLens database for this analysis and will not need this file.

### Exploring `movies_df`

In [9]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
movies_df.shape

(9742, 3)

In [11]:
movies_df.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [12]:
movies_df['title'].nunique()

9737

In [13]:
movies_df['title'].value_counts().head(10)

War of the Worlds (2005)                             2
Eros (2004)                                          2
Emma (1996)                                          2
Confessions of a Dangerous Mind (2002)               2
Saturn 3 (1980)                                      2
Great Beauty, The (Grande Bellezza, La) (2013)       1
'night Mother (1986)                                 1
Libertine, The (2004)                                1
St. Elmo's Fire (1985)                               1
Revenge of the Nerds II: Nerds in Paradise (1987)    1
Name: title, dtype: int64

There are 9737 unique movie titles. Repeats for 5 movies:
- Emma (1996)                                   2
- Saturn 3 (1980)                               2
- Eros (2004)                                   2
- Confessions of a Dangerous Mind (2002)        2
- War of the Worlds (2005)                      2

Cleaning the text in the DataFrame.

In [14]:
movies_df['split_genres'] = movies_df['genres'].iloc[0:].apply(lambda x: x.lower().split('|'))
movies_df['genres'] = movies_df['genres'].iloc[0:].apply(lambda x: x.lower())

This file will be very helpful for our analysis. It provides us with the title of movie in relation to its unique identifier and lets us know the genre categories that the movie would fall under.

### Exploring `ratings_df`

In [15]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
ratings_df.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [17]:
# The 10 movies with the most reviews
ratings_df.groupby('movieId').count().sort_values('userId', ascending=False).head(10)

         userId  rating  timestamp
movieId
356         329     329        329
318         317     317        317
296         307     307        307
593         279     279        279
2571        278     278        278
260         251     251        251
480         238     238        238
110         237     237        237
589         224     224        224
527         220     220        220

In [18]:
# the 10 movies with the highest ratings
ratings_df.groupby('movieId').mean().sort_values('rating', ascending=False).head(10)

         userId  rating     timestamp
movieId
88448     483.0     5.0  1.315438e+09
100556    462.0     5.0  1.456151e+09
143031     89.0     5.0  1.520409e+09
143511    105.0     5.0  1.526207e+09
143559     89.0     5.0  1.520410e+09
6201      474.0     5.0  1.100120e+09
102217     63.0     5.0  1.443200e+09
102084    380.0     5.0  1.493422e+09
6192      182.0     5.0  1.063275e+09
145994    105.0     5.0  1.526207e+09

In [19]:
# the 10 users with the most reviews
ratings_df.groupby('userId').count().sort_values('rating', ascending=False).head(10)

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108
448        1864    1864       1864
274        1346    1346       1346
610        1302    1302       1302
68         1260    1260       1260
380        1218    1218       1218
606        1115    1115       1115
288        1055    1055       1055

This will be the primary datafile for this analysis. It includes relevant information including `userId`, `rating`, and `movieId`. `timestamp` is not relevant for this analysis and will be dropped.

In [20]:
ratings_df.drop('timestamp', axis=1, inplace=True)

### Exploring `tags_df`

In [21]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [22]:
tags_df.isna().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [23]:
# users with the most comments on movies
tags_df.groupby('userId').count().sort_values('tag', ascending=False).head(10)

        movieId   tag  timestamp
userId
474        1507  1507       1507
567         432   432        432
62          370   370        370
599         323   323        323
477         280   280        280
424         273   273        273
537         100   100        100
125          48    48         48
357          45    45         45
318          41    41         41

This will be helpful for analysis as it provides keyword insights to each of the films. `timestamp` will not be helpful for this analysis and will be dropped later.

### Creating a New DataFrame with Relevant Data

To better understand and work with the separate files, they have been merged to one, larger working file.

In [24]:
# Merging the ratings data with movie titles and genres
merged_df = ratings_df.merge(movies_df, how='outer', on='movieId')

In [25]:
merged_df.head()

,userId,movieId,rating,title,genres,split_genres
0,1.0,1,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
1,5.0,1,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
2,7.0,1,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
3,15.0,1,2.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
4,17.0,1,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"

In [26]:
# Checking for nulls after merging
merged_df.isna().sum()

userId          18
movieId          0
rating          18
title            0
genres           0
split_genres     0
dtype: int64

In [27]:
# 18 movies do not have any reviews 
merged_df.tail(20)

,userId,movieId,rating,title,genres,split_genres
100834,610.0,163937,3.5,Blair Witch (2016),horror|thriller,"[horror, thriller]"
100835,610.0,163981,3.5,31 (2016),horror,[horror]
100836,NaN,1076,NaN,"Innocents, The (1961)",drama|horror|thriller,"[drama, horror, thriller]"
100837,NaN,2939,NaN,Niagara (1953),drama|thriller,"[drama, thriller]"
100838,NaN,3338,NaN,For All Mankind (1989),documentary,[documentary]
100839,NaN,3456,NaN,"Color of Paradise, The (Rang-e khoda) (1999)",drama,[drama]
100840,NaN,4194,NaN,I Know Where I'm Going! (1945),drama|romance|war,"[drama, romance, war]"
100841,NaN,5721,NaN,"Chosen, The (1981)",drama,[drama]
100842,NaN,6668,NaN,"Road Home, The (Wo de fu qin mu qin) (1999)",drama|romance,"[drama, romance]"
100843,NaN,6849,NaN,Scrooge (1970),drama|fantasy|musical,"[drama, fantasy, musical]"
100844,NaN,7020,NaN,Proof (1991),comedy|drama|romance,"[comedy, drama, romance]"
100845,NaN,7792,NaN,"Parallax View, The (1974)",thriller,[thriller]
100846,NaN,8765,NaN,This Gun for Hire (1942),crime|film-noir|thriller,"[crime, film-noir, thriller]"
100847,NaN,25855,NaN,"Roaring Twenties, The (1939)",crime|drama|thriller,"[crime, drama, thriller]"
100848,NaN,26085,NaN,Mutiny on the Bounty (1962),adventure|drama|romance,"[adventure, drama, romance]"
100849,NaN,30892,NaN,In the Realms of the Unreal (2004),animation|documentary,"[animation, documentary]"
100850,NaN,32160,NaN,Twentieth Century (1934),comedy,[comedy]
100851,NaN,32371,NaN,Call Northside 777 (1948),crime|drama|film-noir,"[crime, drama, film-noir]"
100852,NaN,34482,NaN,"Browning Version, The (1951)",drama,[drama]
100853,NaN,85565,NaN,Chalet Girl (2011),comedy|romance,"[comedy, romance]"

In [28]:
# Dropping nulls in data
merged_df.dropna(inplace=True)

In [29]:
merged_df.isna().sum()

userId          0
movieId         0
rating          0
title           0
genres          0
split_genres    0
dtype: int64

In [30]:
merged_df.shape

(100836, 6)

In [31]:
merged_df['movieId'].nunique()

9724

We have a cleaned dataframe with 100836 reviews for 9724 movies.

#### **Additional EDA that likely can be dropped for final notebook**

In [32]:
# creating a sparse matrix pivot table that has all users as the index and all movies as the columns
pivot_test = merged_df.pivot_table(index='userId', columns='title', values='rating')

In [33]:
pivot_test.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC] (2009),[REC] 3 Gnesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),Three Amigos! (1986),nous la libert (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Modeling

We will be using the Surprise library for this analysis. This library requires that data inputs be limited to three columns of information:

- User
- Movie
- Rating

In [34]:
# Adjusting the dataframe for modeling purposes
model_df = merged_df.drop(['title', 'genres', 'split_genres'], axis=1)

In [35]:
# Contains all movie ratings and the unique identifiers for user and movie
model_df.head()

   userId  movieId  rating
0     1.0        1     4.0
1     5.0        1     4.0
2     7.0        1     4.5
3    15.0        1     2.5
4    17.0        1     4.5

In [36]:
# Converting model_df to surprise accessible data
reader = Reader()
data = Dataset.load_from_df(model_df,reader)

In [37]:
trainset, testset = train_test_split(data, test_size=.2, random_state=42)

In [38]:
print('Number of users: ', trainset.n_users, '\n')
print('Number of items: ', trainset.n_items)

Number of users:  610

Number of items:  8982

## First Baseline Model

Setting up a baseline model using Surprise's `BaseLineOnly` algorithm.

In [39]:
baseline = BaselineOnly()
baseline.fit(trainset)

Estimating biases using als...

In [40]:
base_predictions = baseline.test(testset)

In [41]:
accuracy.rmse(base_predictions)

RMSE: 0.8734

0.8734341181528673

In [42]:
accuracy.mae(base_predictions)

MAE:  0.6722

0.6722070558104862

In [62]:
cv = cross_validate(baseline, data, n_jobs=3)

In [93]:
results_df = pd.DataFrame()
results_dict = {'model': baseline}

for item in cv.items():
#     results_dict = {}
    results_dict[f"mean_{item[0]}"] = np.mean(item[-1])
    print(item[0])
    print(np.mean(item[-1]))

results_df.append(results_dict, ignore_index=True, sort=False)

test_rmse
0.8730027359247566
test_mae
0.6731495254534968
fit_time
0.033376455307006836
test_time
0.05573716163635254

,mean_fit_time,mean_test_mae,mean_test_rmse,mean_test_time,model
0,0.033376,0.67315,0.873003,0.055737,<surprise.prediction_algorithms.baseline_only....

## Model KNN with Z-Score

In [43]:
knn_z = knns.KNNWithZScore(random_state=42)
knn_z.fit(trainset=trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [44]:
knn_z_predictions = knn_z.test(testset)

In [45]:
accuracy.rmse(knn_z_predictions)

RMSE: 0.8963

0.8962709994505563

In [46]:
accuracy.mae(knn_z_predictions)

MAE:  0.6769

0.6769105071826177

## Model with SVD

In [47]:
svd = SVD(random_state=42)
svd.fit(trainset)

In [48]:
svd_predictions = svd.test(testset)

In [49]:
accuracy.rmse(svd_predictions)

RMSE: 0.8757

0.8757353176838333

In [50]:
accuracy.mae(svd_predictions)

MAE:  0.6715

0.6714792053984324

## Model with SVD++

In [52]:
svdpp = SVDpp(random_state=42)
svdpp.fit(trainset)

In [53]:
svdpp_predictions = svdpp.test(testset)

In [54]:
accuracy.rmse(svdpp_predictions)

RMSE: 0.8616

0.8616314766744503

In [55]:
accuracy.mae(svdpp_predictions)

MAE:  0.6585

0.6584658027784405

## All Models? (maybe we can condense the modeling section so its not a bunch of the same code again and again)

In [59]:
from surprise.prediction_algorithms import *
from surprise.model_selection import GridSearchCV, cross_validate

In [112]:
models_list = [NormalPredictor(), BaselineOnly(), KNNBaseline(random_state=42),
               KNNBasic(random_state=42), KNNWithMeans(random_state=42), 
               KNNWithZScore(random_state=42), SVD(random_state=42), 
               SVDpp(random_state=42), NMF(random_state=42), SlopeOne(), 
               CoClustering(random_state=42)]

In [113]:
results_df = pd.DataFrame()

for model in models_list:
    model_dict = {}
    temp_model = cross_validate(model, data, cv=3, n_jobs=3, verbose=False)
    model_dict['model'] = model
    for item in temp_model.items():
        model_dict[f"mean_{item[0]}"] = np.mean(item[-1])
    results_df = results_df.append(model_dict, ignore_index=True, sort=False)

In [114]:
results_df.sort_values('mean_test_mae')

,mean_fit_time,mean_test_mae,mean_test_rmse,mean_test_time,model
7,170.620822,0.667532,0.869729,4.667422,<surprise.prediction_algorithms.matrix_factori...
2,0.072381,0.674500,0.882325,1.273059,<surprise.prediction_algorithms.knns.KNNBaseli...
1,0.023875,0.675894,0.876393,0.090204,<surprise.prediction_algorithms.baseline_only....
6,1.805532,0.677758,0.880992,0.125624,<surprise.prediction_algorithms.matrix_factori...
5,0.069958,0.684488,0.902209,1.114337,<surprise.prediction_algorithms.knns.KNNWithZS...
4,0.054664,0.691516,0.905344,1.021725,<surprise.prediction_algorithms.knns.KNNWithMe...
9,1.782339,0.695004,0.907771,3.932988,<surprise.prediction_algorithms.slope_one.Slop...
8,1.966401,0.716263,0.933924,0.106362,<surprise.prediction_algorithms.matrix_factori...
3,0.048387,0.733830,0.957030,0.916583,<surprise.prediction_algorithms.knns.KNNBasic ...
10,0.837916,0.736870,0.952521,0.095379,<surprise.prediction_algorithms.co_clustering....
0,0.035084,1.135527,1.421817,0.112665,<surprise.prediction_algorithms.random_pred.No...

### Gridsearch best model

In [ ]:
# # Commenting out cause this is a work in progress

# sim_cos = {'name':'msd', 'user_based':False}
# params = {'n_factors': []}



# model = GridSearchCV(SVDpp()

# Creating a New User

In [48]:
merged_df.head()

,userId,movieId,rating,title,genres,split_genres
0,1.0,1,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
1,5.0,1,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
2,7.0,1,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
3,15.0,1,2.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
4,17.0,1,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"

In [49]:
new_user_df = merged_df.copy()
new_user_df['username'] = np.nan
new_user_df['password'] = np.nan

In [50]:
new_user_df.tail()

,userId,movieId,rating,title,genres,split_genres,username,password
100831,610.0,160341,2.5,Bloodmoon (1997),action|thriller,"[action, thriller]",NaN,NaN
100832,610.0,160527,4.5,Sympathy for the Underdog (1971),action|crime|drama,"[action, crime, drama]",NaN,NaN
100833,610.0,160836,3.0,Hazard (2005),action|drama|thriller,"[action, drama, thriller]",NaN,NaN
100834,610.0,163937,3.5,Blair Witch (2016),horror|thriller,"[horror, thriller]",NaN,NaN
100835,610.0,163981,3.5,31 (2016),horror,[horror],NaN,NaN

In [51]:
test_user = {'userId':611, 
             'movieId':1, 
             'rating':5, 
             'title': 'Toy Story (1995)', 
             'genres': 'Adventure|Animation|Children|Comedy|Fantasy', 
             'username': 'test_user', 
             'password': 'test_user'}

In [52]:
new_user_df = new_user_df.append(test_user, ignore_index=True)
new_user_df.tail()

,userId,movieId,rating,title,genres,split_genres,username,password
100832,610.0,160527,4.5,Sympathy for the Underdog (1971),action|crime|drama,"[action, crime, drama]",NaN,NaN
100833,610.0,160836,3.0,Hazard (2005),action|drama|thriller,"[action, drama, thriller]",NaN,NaN
100834,610.0,163937,3.5,Blair Witch (2016),horror|thriller,"[horror, thriller]",NaN,NaN
100835,610.0,163981,3.5,31 (2016),horror,[horror],NaN,NaN
100836,611.0,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,NaN,test_user,test_user

In [53]:
def new_user():
    # creating a while loop so that the program runs until everything is satisfied
    new_user_cleared = False
    while new_user_cleared is False:
        # checking if new user or not
        answer = input("(Type 'quit' at any time to exit.) \n\nAre you a new user? (yes/no): ")
        new_user_cleared = False
        # this section is for new users
        if answer == 'yes':
            ok_to_move_on = False
            while ok_to_move_on is False:
                # creating a new userId based on the last one available
                new_user_id = (new_user_df['userId'].max() + 1)
                # asking for them to create a username
                username = input('Please enter a unique username: ')
                # letting them quit the program if they want to stop
                if username == 'quit':
                    print('Thank you. Closing the program.')
                    user_id = np.NaN
                    username = np.NaN
                    password = np.NaN
                    new_user_cleared = True
                    ok_to_move_on = True
                    break
                else:
                    # Checking the list of usernames to see if its available
                    user_check = len(new_user_df[new_user_df['username'] == username]) <1
                    if user_check:
                        # having them make a new password
                        password = input('Please enter a password: ')
                        # letting them quit the program if they want to stop
                        if password == 'quit':
                            print('Thank you. Closing the program.')
                            user_id = np.NaN
                            username = np.NaN
                            password = np.NaN
                            new_user_cleared = True
                            ok_to_move_on = True
                            break
                        else:
                            # creating a new account with user input username and password
                            ok_to_move_on = True
                            new_user_cleared = True
                            print('\nWelcome! Your new account is created...\n')
                            user_id = new_user_id
                    else:
                        # returns them to make a new username if the name isnt available
                        print('Sorry, that name is taken.')
        # this section is for existing users    
        elif answer == 'no':
            ok_to_move_on = False
            while ok_to_move_on is False:
                username = input('Please enter your username: ')
                # letting them quit the program if they want to stop
                if username == 'quit':
                    print('Thank you. Closing the program.')
                    user_id = np.NaN
                    username = np.NaN
                    password = np.NaN
                    new_user_cleared = True
                    ok_to_move_on = True
                    break
                else:
                    # checking to make sure username is in the list of active users
                    user_check = new_user_df[new_user_df['username'] == username]['username'] == username
                    if len(user_check.values !=0):
                        password = input('Please enter your password: ')
                        # letting them quit the program if they want to stop
                        if password == 'quit':
                            print('Thank you. Closing the program.')
                            user_id = np.NaN
                            username = np.NaN
                            password = np.NaN
                            new_user_cleared = True
                            ok_to_move_on = True
                            break
                        else:
                            # checking password match with username
                            password_check = new_user_df[(new_user_df['username'] == username) & (new_user_df['password'] == password)]['password'] == password
                            if len(password_check.values) !=0:
                                user_id = new_user_df[(new_user_df['username'] == username) & (new_user_df['password'] == password)]['userId']
                                user_id = user_id.values[0]
                                print('...\n...\nLog-in Successful.')
                                ok_to_move_on = True
                                new_user_cleared = True
                            else:
                                # letting them know that there is no username password match
                                print('Sorry, that username and password is not in the system.')
                    else:
                        # letting them know that there is no username with that name in the system
                        print('Sorry, that username is not in the system.')
        # letting the user quit if they want to stop the program
        elif answer == 'quit':
            print('Thank you. Closing the program.')
            user_id = np.NaN
            username = np.NaN
            password = np.NaN
            break
            
        elif new_user_cleared == True:
            break
        else:
            # message if a user tries to enter anything but yes or no
            print('Invalid entry. Please enter (yes/no).\n')
          
    if user_id:
        
        return user_id, username, password

In [54]:
# u_id, u_name, p_word = new_user()

In [55]:
# creating a dataframe of the top 100 movies by review count
top_500 = new_user_df.groupby('movieId').count().sort_values('userId', ascending=False).head(500)
top_500 = top_500.reset_index()[['movieId']]

In [56]:
# adding in the movie title and genre
top_500 = top_500.merge(movies_df, on='movieId', how='left')
top_500.head()

,movieId,title,genres,split_genres
0,356,Forrest Gump (1994),comedy|drama|romance|war,"[comedy, drama, romance, war]"
1,318,"Shawshank Redemption, The (1994)",crime|drama,"[crime, drama]"
2,296,Pulp Fiction (1994),comedy|crime|drama|thriller,"[comedy, crime, drama, thriller]"
3,593,"Silence of the Lambs, The (1991)",crime|horror|thriller,"[crime, horror, thriller]"
4,2571,"Matrix, The (1999)",action|sci-fi|thriller,"[action, sci-fi, thriller]"

In [57]:
#  Newest one to coordinate better with other function


def movie_recs(user_id, username, password, main_df = new_user_df):
    # Setting the base rating at zero
    rating = 0
    # creating a new DF to hold the temp ratings
    current_session_df = pd.DataFrame()
    # whether or not its ok to quit the recommend prompt loop
    ok_to_quit = False

    # the loop to make recommendations
    while ok_to_quit is False:
        # prints message if they have less than 5 ratings
        if len(main_df[main_df['userId'] == user_id]) < 5:
            print("You need at least 5 reviews before we can make recommendations.")
        else:
            print('You are now ready to make additional recommendations.')
        # setting a loop to keep sampling if the sample is already in the main df or in the temp df
        ok_to_move_on = False
        while ok_to_move_on is False:
            # pulling sample from most rated moves
            movie_review = top_500.sample()
            movie_check = movie_review['movieId'].values
            # checking length of df to see if its been filled yet
            # ensuring movie has not already been rated
            if len(current_session_df) != 0:
                if movie_check not in main_df[main_df['userId'] == 
                                                  user_id]['movieId'].values and\
                movie_check not in current_session_df['movieId'].values:
                    ok_to_move_on = True
                # resample if already rated
                else:
                    continue
            else:
                # ensuring movie has not already been rated
                if movie_check not in main_df[main_df['userId'] == 
                                                  user_id]['movieId'].values:
                    ok_to_move_on = True
                else:
                    # resample if already rated
                    continue
        # creating a loop to ensure that user provides a valid rating
        while rating not in range(1,6):
            # creating a dictionary to store rating info that will be appended to df
            rating_dict = {'userId':user_id, 
                       'movieId': np.nan, 
                       'rating': np.nan, 
                       'title': np.nan, 
                       'genres': np.nan, 
                       'username': username, 
                       'password': password}
            print(f"\n(Type 'quit' to stop rating movies.) \n")
            # telling user how to rate
            print(f'Please rate the movie 1-5. If you have not seen the movie, type "n" to skip: \n')
            # giving user movie info
            print(f"{movie_review['title'].values}")
            rating = input('Rating: \n')
            # letting the user quit if they dont want to rate
            if rating == 'quit':
                print('\n\nThank you for ranking movies.')
                # checking to see if the user made any ratings during this session
                if len(current_session_df) != 0:
                    print('Here are the results of your ranking session:')
                    # showing the user the ratings they made
                    print(current_session_df[['title', 'rating']])
                    # checking if user wants to save ratings
                    submit_ratings = input('\nWould you like to save these ratings to your profile? (yes/quit): ')
                    if submit_ratings == 'yes':
                        # saving ratings to main database and closing program
                        temp_df = main_df.append(current_session_df, ignore_index=True)
                        ok_to_quit = True
                        ok_to_move_on = True
                        to_return = True
                        print('\nThank you. Your results have been saved to the main system!')
                        break
                    elif submit_ratings == 'quit':
                        # not saving ratings to main database and closing program
                        rating = 10
                        ok_to_move_on = True
                        to_return = False
                        ok_to_quit = True
                        print('Thank you for trying the movie recommendor system.')
                        print('Your results have not been saved.')
                        break
                    else:
                        # user did not enter a valid input to save or quit
                        print('That is not a valid input. Please Try again.')
                else:
                    # quitting the program without saving anything if dataframe is empty
                    print('Program is now closing.')
                    ok_to_move_on = True
                    rating = 10
                    to_return = False
                    ok_to_quit = True
                    break
            # letting user skip a movie review if they havent seen it
            elif rating == 'n':
                print('\n')
                break

            else:
                try:
                    # trying to convert rating input to float
                    rating = float(rating)
                    if rating not in range(1,6):
                        # letting user know that they need to use 1-5
                        print('That is not a valid rating, please enter a value 1-5:')
                        continue
                    else:
                        # saving user rating to temp df 
                        rating_dict['movieId'] = movie_review['movieId'].values[0]
                        rating_dict['rating'] = rating
                        rating_dict['title'] = movie_review['title'].values[0]
                        rating_dict['genres'] = movie_review['genres'].values[0]
                        current_session_df = current_session_df.append(rating_dict, ignore_index=True)
                        rating = 0
                        ok_to_move_on = False
                        print('Saving rating to temporary memory...\n\n')
                        break
                except:
                    # user tried to enter something other than 1-5, 'n', or 'quit'
                    print('That is not a valid rating, please enter a value 1-5:')
    
    # returns dataframe if they made changes to it, otherwise closes with no changes
    if to_return:
#         new_user_df = main_df
        return temp_df

In [58]:
def check_for_recs(user_id, username, password, main_df= new_user_df):
    if len(main_df[main_df['userId'] == user_id]) < 5:
        temp_df = movie_recs(user_id, username, password, main_df)
    else:
        make_more_recs = input('Would you like to make more recommendations? (yes/no): ')
        if make_more_recs == 'yes':
            temp_df = movie_recs(user_id, username, password, main_df)
        elif make_more_recs == 'no':
            pass
        else:
            print('You did not make a valid selection.')
           
       
    return temp_df

In [59]:
# old start program, replaced later on in notebook.
# will delate this once confirmed no bugs in new one

def start_program():
    user_id, username, password = new_user()
    
    if user_id is not np.NaN:    
        temp_df = check_for_recs(user_id, username, password)
    
        return temp_df
    else:
        print('Program was terminated.')

In [60]:
new_user_df = start_program()

(Type 'quit' at any time to exit.)

Are you a new user? (yes/no): yes
Please enter a unique username: matt
Please enter a password: matt

Welcome! Your new account is created...

You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Maverick (1994)']
Rating:
1
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Star Trek II: The Wrath of Khan (1982)']
Rating:
1
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Die Hard 2 (1990)']
Rating:
1
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Mask of Zorro, The (1998)']
Rating:
1
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Harry Potter and the Goblet of Fire (2005)']
Rating:
1
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Superbad (2007)']
Rating:
1
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Kill Bill: Vol. 1 (2003)']
Rating:
quit


Thank you for ranking movies.
Here are the results of your ranking session:
                                        title  rating
0                             Maverick (1994)     1.0
1      Star Trek II: The Wrath of Khan (1982)     1.0
2                           Die Hard 2 (1990)     1.0
3                   Mask of Zorro, The (1998)     1.0
4  Harry Potter and the Goblet of Fire (2005)     1.0
5                             Superbad (2007)     1.0

Would you like to save these ratings to your profile? (yes/quit): yes

Thank you. Your results have been saved to the main system!

In [61]:
new_user_df

,userId,movieId,rating,title,genres,split_genres,username,password
0,1.0,1.0,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
1,5.0,1.0,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
2,7.0,1.0,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
3,15.0,1.0,2.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
4,17.0,1.0,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
...,...,...,...,...,...,...,...,...
100838,612.0,1374.0,1.0,Star Trek II: The Wrath of Khan (1982),action|adventure|sci-fi|thriller,NaN,matt,matt
100839,612.0,1370.0,1.0,Die Hard 2 (1990),action|adventure|thriller,NaN,matt,matt
100840,612.0,2006.0,1.0,"Mask of Zorro, The (1998)",action|comedy|romance,NaN,matt,matt
100841,612.0,40815.0,1.0,Harry Potter and the Goblet of Fire (2005),adventure|fantasy|thriller|imax,NaN,matt,matt
100842,612.0,54503.0,1.0,Superbad (2007),comedy,NaN,matt,matt

In [62]:
def make_rec(user_id, username, password, main_df = new_user_df):
    # list of all available genres
    genre_list = ['romance','fantasy','mystery','children','war','comedy',
                  'documentary','film-noir','thriller','action','sci-fi',
                  'drama','horror','crime','imax','animation','adventure',
                  'musical','western']
    # creating a while loop to keep the function opn
    keep_open = True
    print("(Enter 'quit' at any time to end the program.)")
    while keep_open == True:
        # seeing if user wants to review their recs
        rec = input('Would you like to retrieve your recommendations? (yes/no): ')
        if rec == 'yes':
            # Does the user want to limit results by genre?
            genre = input('Would you like recommendations from a specific genre? (yes/no): ')
            print('Compiling your recommendations...')
            # letting the user stop the program if they want to quit
            if genre == 'quit':
                print('Thank you for using the recommendation system.')
                print('Closing the program...')
                keep_open = False
                break      
            # If the user wants to limit results by genre
            elif genre == 'yes':
                print('Please select from the following list:')
                print('\t- romance','\n\t- fantasy','\n\t- mystery',
                      '\n\t- children','\n\t- war','\n\t- comedy',
                      '\n\t- documentary','\n\t- film-noir','\n\t- thriller',
                      '\n\t- action','\n\t- sci-fi','\n\t- drama','\n\t- horror',
                      '\n\t- crime','\n\t- imax','\n\t- animation','\n\t- adventure',
                      '\n\t- musical','\n\t- western')
                # Letting the user input specific genre
                genre_choice = input('Selection: ')
                # letting the user quit if they want to stop the program
                if genre_choice == 'quit':
                    print('Thank you for using the recommendation system.')
                    print('Closing the program...')
                    keep_open = False
                    break
                # Running the model with specified genre    
                elif genre_choice in genre_list:
                    print('Searching through specified genre...')
                    number_of_predictions = input('How many recommendations would you like? (1-50): ')
                    if number_of_predictions == 'quit':
                        print('Thank you for using the recommendation system.')
                        print('Closing the program...')
                        keep_open = False
                        break
                    else:
                        try:
                            number_of_predictions = int(number_of_predictions)
                            if number_of_predictions in list(range(1, 51)):
                                print('Processing request...')
                                rec_df = final_rec(user_id, genre=genre_choice, number_of_predictions=number_of_predictions)
                            else:
                                print('You did not select a valid response.')
                        except:
                            print('error: You did not select a valid response.')
                #telling the user that they didnt input valid response    
                else:
                    print('You did not select a valid response.')
            # running model with all genres
            elif genre == 'no':
                number_of_predictions = input('How many recommendations would you like? (1-50): ')
                if number_of_predictions == 'quit':
                    print('Thank you for using the recommendation system.')
                    print('Closing the program...')
                    keep_open = False
                    break
                else:
                    try:
                        number_of_predictions = int(number_of_predictions)
                        if number_of_predictions in list(range(1, 51)):
                            print('Processing request...')
                            rec_df = final_rec(user_id, number_of_predictions=number_of_predictions)
                        else:
                            print('You did not select a valid response.')
                    except:
                        print('error: You did not select a valid response.')
            else:
                # user did not enter a valid response
                print('You did not select a valid response.')
            
            
        # user does not want to receive recommendation now    
        elif rec == 'no':
            close_rec = input('Would you like to close the program? (yes/no): ')
            # closing recommendation
            if close_rec =='yes':
                print('Thank you for using the recommendation system.')
                print('Closing the program...')
                keep_open = False
                break
            # resetting so the user can get a rec if they want
            elif close_rec == 'no':
                continue
            #user did not input valid response
            else:
                print('You did not select a valid response.')
        # letting user quit program
        elif rec == 'quit':
            print('Thank you for using the recommendation system.')
            print('Closing the program...')
            keep_open = False
            break
        # user did not submit valid response
        else:
            print('You did not select a valid response.')
    
    return main_df

In [63]:
def final_rec(user_id, genre = None, number_of_predictions= 10, main_df = new_user_df, movies_df = movies_df, model = baseline):
    # creating a dataframe with a specified user
    genre_list = ['romance','fantasy','mystery','children','war','comedy',
                  'documentary','film-noir','thriller','action','sci-fi',
                  'drama','horror','crime','imax','animation','adventure',
                  'musical','western']
    if genre == None:
        user_ratings = main_df[main_df['userId'] == user_id][['userId', 'movieId', 'rating']]
        # creating a dataframe with movies not yet reviewed
        user_predict = list(movies_df[~movies_df['movieId'].isin(user_ratings['movieId'].values)].movieId.values)
        # creating predictions and storing them in list
        predictions = []
        for movie in user_predict:
            predictions.append((movies_df['title'].loc[movies_df['movieId'] == movie].values[0], \
                                model.predict(user_id, movie)[3]))
        
        predicted_df = pd.DataFrame(predictions, columns=['title', 'predicted rating']).sort_values('predicted rating', ascending=False).head(number_of_predictions)
        print(predicted_df)
    
    elif genre in genre_list:
        user_ratings = main_df[main_df['userId'] == user_id][['userId', 'movieId', 'rating']]
        # creating a dataframe with movies not yet reviewed
        user_predict = list(movies_df[~movies_df['movieId'].isin(user_ratings['movieId'].values)].movieId.values)
        # creating predictions and storing them in list
        predictions = []
        for movie in user_predict:
            predictions.append((movies_df['title'].loc[movies_df['movieId'] == movie].values[0], \
                                model.predict(user_id, movie)[3]))
        
        predicted_df = pd.DataFrame(predictions, columns=['title', 'predicted rating']).sort_values('predicted rating', ascending=False)
        final_prediction = predicted_df.merge(movies_df).drop('movieId', axis=1)
        predicted_df = final_prediction[final_prediction['genres'].str.contains(genre)].drop(['genres', 'split_genres'], axis=1).head(number_of_predictions)
        print(predicted_df)
    else:
        print('You did not select a valid response.')
      
#     new_user_df = main_df
    return main_df

In [64]:
# number_of_predictions = 10

In [65]:
# final_rec(612, genre='comedy', number_of_predictions=number_of_predictions)

In [66]:
# make_rec(612, 'matt', 'matt')

In [64]:
def start_program():
    user_id, username, password = new_user()
    
    if user_id is not np.NaN:    
        temp_df = check_for_recs(user_id, username, password)
        
        temp_df= make_rec(user_id, username, password, main_df=temp_df)
        
        
        return temp_df
    else:
        print('Program was terminated.')

In [71]:
new_user_df = start_program()

(Type 'quit' at any time to exit.)

Are you a new user? (yes/no): yes
Please enter a unique username: jon
Please enter a password: jon

Welcome! Your new account is created...

You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['American President, The (1995)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Shutter Island (2010)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Godfather, The (1972)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Zoolander (2001)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Planet of the Apes (2001)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Santa Clause, The (1994)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Bruce Almighty (2003)']
Rating:
3
Saving rating to temporary memory...


You need at least 5 reviews before we can make recommendations.

(Type 'quit' to stop rating movies.)

Please rate the movie 1-5. If you have not seen the movie, type "n" to skip:

['Armageddon (1998)']
Rating:
quit


Thank you for ranking movies.
Here are the results of your ranking session:
                            title  rating
0  American President, The (1995)     3.0
1           Shutter Island (2010)     3.0
2           Godfather, The (1972)     3.0
3                Zoolander (2001)     3.0
4       Planet of the Apes (2001)     3.0
5        Santa Clause, The (1994)     3.0
6           Bruce Almighty (2003)     3.0

Would you like to save these ratings to your profile? (yes/quit): yes

Thank you. Your results have been saved to the main system!
(Enter 'quit' at any time to end the program.)
Would you like to retrieve your recommendations? (yes/no): yes
Would you like recommendations from a specific genre? (yes/no): no
Compiling your recommendations...
How many recommendations would you like? (1-50): 10
Processing request...
                                                  title  predicted rating
277                    Shawshank Redemption, The (1994)          4.415990
898   Star Wars: Episode V - The Empire Strikes Back...          4.316904
2226                                  Fight Club (1999)          4.291507
602   Dr. Strangelove or: How I Learned to Stop Worr...          4.288998
906                           Lawrence of Arabia (1962)          4.268171
659                               Godfather, The (1972)          4.254736
694                                   Casablanca (1942)          4.246424
899                          Princess Bride, The (1987)          4.229961
46                           Usual Suspects, The (1995)          4.227022
909                               Apocalypse Now (1979)          4.220256
Would you like to retrieve your recommendations? (yes/no): no
Would you like to close the program? (yes/no): yes
Thank you for using the recommendation system.
Closing the program...

In [72]:
new_user_df

,userId,movieId,rating,title,genres,split_genres,username,password
0,1.0,1.0,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
1,5.0,1.0,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
2,7.0,1.0,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
3,15.0,1.0,2.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
4,17.0,1.0,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]",NaN,NaN
...,...,...,...,...,...,...,...,...
100839,613.0,858.0,3.0,"Godfather, The (1972)",crime|drama,NaN,jon,jon
100840,613.0,4816.0,3.0,Zoolander (2001),comedy,NaN,jon,jon
100841,613.0,4643.0,3.0,Planet of the Apes (2001),action|adventure|drama|sci-fi,NaN,jon,jon
100842,613.0,317.0,3.0,"Santa Clause, The (1994)",comedy|drama|fantasy,NaN,jon,jon
100843,613.0,6373.0,3.0,Bruce Almighty (2003),comedy|drama|fantasy|romance,NaN,jon,jon

## Go back tomorrow and check output for all functions to see why it isnt saving to the dataframe

In [70]:
# working baseline

def movie_recs(user_id, username, password, main_df = new_user_df):
    # Setting the base rating at zero
    rating = 0
    # creating a new DF to hold the temp ratings
    current_session_df = pd.DataFrame()
    # whether or not its ok to quit the recommend prompt loop
    ok_to_quit = False
    # automatically puts user in the loop if they have less than 5 ratings
    if len(new_user_df[new_user_df['userId'] == user_id]) < 5:
        # the loop to make recommendations
        while ok_to_quit is False:
            print("You need at least 5 reviews before we can make recommendations.")
            # setting a loop to keep sampling if the sample is already in the main df or in the temp df
            ok_to_move_on = False
            while ok_to_move_on is False:
                # pulling sample from most rated moves
                movie_review = top_100.sample()
                movie_check = movie_review['movieId'].values
                # checking length of df to see if its been filled yet
                # ensuring movie has not already been rated
                if len(current_session_df) != 0:
                    if movie_check not in new_user_df[new_user_df['userId'] == 
                                                      user_id]['movieId'].values and\
                    movie_check not in current_session_df['movieId'].values:
                        ok_to_move_on = True
                    # resample if already rated
                    else:
                        continue
                else:
                    # ensuring movie has not already been rated
                    if movie_check not in new_user_df[new_user_df['userId'] == 
                                                      user_id]['movieId'].values:
                        ok_to_move_on = True
                    else:
                        # resample if already rated
                        continue
            # creating a loop to ensure that user provides a valid rating
            while rating not in range(1,6):
                # creating a dictionary to store rating info that will be appended to df
                rating_dict = {'userId':user_id, 
                           'movieId': np.nan, 
                           'rating': np.nan, 
                           'title': np.nan, 
                           'genres': np.nan, 
                           'username': username, 
                           'password': password}
                print(f"\n(Type 'quit' to stop rating movies.) \n")
                # telling user how to rate
                print(f'Please rate the movie 1-5. If you have not seen the movie, type "n" to skip: \n')
                # giving user movie info
                print(f"{movie_review['title'].values}")
                rating = input('Rating: \n')
                # letting the user quit if they dont want to rate
                if rating == 'quit':
                    print('\n\nThank you for ranking movies.')
                    # checking to see if the user made any ratings during this session
                    if len(current_session_df) != 0:
                        print('Here are the results of your ranking session:')
                        # showing the user the ratings they made
                        print(current_session_df[['title', 'rating']])
                        # checking if user wants to save ratings
                        submit_ratings = input('\nWould you like to save these ratings to your profile? (yes/quit): ')
                        if submit_ratings == 'yes':
                            # saving ratings to main database and closing program
                            main_df = main_df.append(current_session_df, ignore_index=True)
                            ok_to_quit = True
                            ok_to_move_on = True
                            to_return = True
                            break
                        elif submit_ratings == 'quit':
                            # not saving ratings to main database and closing program
                            rating = 10
                            ok_to_move_on = True
                            to_return = False
                            ok_to_quit = True
                            print('Thank you for trying the movie recommendor system.')
                            print('Your results have not been saved.')
                            break
                        else:
                            # user did not enter a valid input to save or quit
                            print('That is not a valid input. Please Try again.')
                    else:
                        # quitting the program without saving anything if dataframe is empty
                        print('Program is now closing.')
                        ok_to_move_on = True
                        rating = 10
                        to_return = False
                        ok_to_quit = True
                        break
                # letting user skip a movie review if they havent seen it
                elif rating == 'n':
                    print('\n')
                    break

                else:
                    try:
                        # trying to convert rating input to float
                        rating = float(rating)
                        if rating not in range(1,6):
                            # letting user know that they need to use 1-5
                            print('That is not a valid rating, please enter a value 1-5:')
                            continue
                        else:
                            # saving user rating to temp df 
                            rating_dict['movieId'] = movie_review['movieId'].values[0]
                            rating_dict['rating'] = rating
                            rating_dict['title'] = movie_review['title'].values[0]
                            rating_dict['genres'] = movie_review['genres'].values[0]
                            current_session_df = current_session_df.append(rating_dict, ignore_index=True)
                            rating = 0
                            ok_to_move_on = False
                            print('Saving rating to temporary memory...\n\n')
                            break
                    except:
                        # user tried to enter something other than 1-5, 'n', or 'quit'
                        print('That is not a valid rating, please enter a value 1-5:')
    
    # returns dataframe if they made changes to it, otherwise closes with no changes
    if to_return:    
        return main_df

## making predictions with surprise

In [71]:
user_to_rate = 2

In [72]:
# creating a dataframe with a specified user
user_ratings = new_user_df[new_user_df['userId'] == user_to_rate][['userId', 'movieId', 'rating']]
user_ratings.head()

       userId  movieId  rating
2267      2.0      333     4.0
15657     2.0     3578     4.0
16296     2.0      318     3.0
16613     2.0     1704     4.5
16754     2.0     6874     4.0

In [73]:
user_ratings['movieId'].values

array([   333,   3578,    318,   1704,   6874,   8798,  46970,  48516,
        58559,  60756,  68157,  71535,  74458,  77455,  79132,  80489,
        80906,  86345,  89774,  91529,  91658,  99114, 106782, 109487,
       112552, 114060, 115713, 122882, 131724], dtype=int64)

In [74]:
# creating a dataframe with movies not yet reviewed
user_predict = list(movies_df[~movies_df['movieId'].isin(user_ratings['movieId'].values)].movieId.values)
# user_predict

In [75]:
predictions = []
for movie in user_predict:
    predictions.append((movies_df['title'].loc[movies_df['movieId'] == movie].values[0], \
                        baseline.predict(user_to_rate, movie)[3]))

In [76]:
predicted_df = pd.DataFrame(predictions, columns=['title', 'prediction'])

In [77]:
final_prediction = predicted_df.merge(movies_df).drop('movieId', axis=1)

In [78]:
test = final_prediction.sort_values('prediction', ascending=False)

In [79]:
print(test[test['genres'].str.contains(('romance').title())])

Empty DataFrame
Columns: [title, prediction, genres, split_genres]
Index: []

In [80]:
test

,title,prediction,genres,split_genres
899,Star Wars: Episode V - The Empire Strikes Back...,4.411833,action|adventure|sci-fi,"[action, adventure, sci-fi]"
2229,Fight Club (1999),4.386436,action|crime|drama|thriller,"[action, crime, drama, thriller]"
600,Dr. Strangelove or: How I Learned to Stop Worr...,4.383926,comedy|war,"[comedy, war]"
907,Lawrence of Arabia (1962),4.363100,adventure|drama|war,"[adventure, drama, war]"
660,"Godfather, The (1972)",4.349665,crime|drama,"[crime, drama]"
...,...,...,...,...
2029,Wild Wild West (1999),2.700796,action|comedy|sci-fi|western,"[action, comedy, sci-fi, western]"
5274,Catwoman (2004),2.699413,action|crime|fantasy,"[action, crime, fantasy]"
1373,Godzilla (1998),2.661489,action|sci-fi|thriller,"[action, sci-fi, thriller]"
1312,Spice World (1997),2.650159,comedy,[comedy]
2685,Battlefield Earth (2000),2.516839,action|sci-fi,"[action, sci-fi]"

In [81]:
predicted_df.sort_values('prediction', ascending=False).head(10)

                                                  title  prediction
896   Star Wars: Episode V - The Empire Strikes Back...    4.411833
2223                                  Fight Club (1999)    4.386436
600   Dr. Strangelove or: How I Learned to Stop Worr...    4.383926
904                           Lawrence of Arabia (1962)    4.363100
657                               Godfather, The (1972)    4.349665
692                                   Casablanca (1942)    4.341353
897                          Princess Bride, The (1987)    4.324890
46                           Usual Suspects, The (1995)    4.321951
907                               Apocalypse Now (1979)    4.315185
224           Star Wars: Episode IV - A New Hope (1977)    4.313092

In [82]:
predictions

[('Toy Story (1995)', 4.013543396286959),
 ('Jumanji (1995)', 3.647139404330795),
 ('Grumpier Old Men (1995)', 3.4558718534655095),
 ('Waiting to Exhale (1995)', 3.2635810556818687),
 ('Father of the Bride Part II (1995)', 3.294237100026675),
 ('Heat (1995)', 4.022059772354651),
 ('Sabrina (1995)', 3.299375022715588),
 ('Tom and Huck (1995)', 3.4883789531691876),
 ('Sudden Death (1995)', 3.390387011401443),
 ('GoldenEye (1995)', 3.608037212980662),
 ('American President, The (1995)', 3.8109337117224835),
 ('Dracula: Dead and Loving It (1995)', 2.9912268941425424),
 ('Balto (1995)', 3.5307718077826493),
 ('Nixon (1995)', 3.7045657795492493),
 ('Cutthroat Island (1995)', 3.3893698114101047),
 ('Casino (1995)', 3.9792277892036885),
 ('Sense and Sensibility (1995)', 3.9994613818479885),
 ('Four Rooms (1995)', 3.775151527206968),
 ('Ace Ventura: When Nature Calls (1995)', 2.9582319004933293),
 ('Money Train (1995)', 3.1800508036538364),
 ('Get Shorty (1995)', 3.6990030188928578),
 ('Copycat (1995)', 3.482142097370446),
 ('Assassins (1995)', 3.405714882225384),
 ('Powder (1995)', 3.348899430579756),
 ('Leaving Las Vegas (1995)', 3.669487906250119),
 ('Othello (1995)', 3.687192520114727),
 ('Now and Then (1995)', 3.517753464197551),
 ('Persuasion (1995)', 3.9835796457692454),
 ('City of Lost Children, The (Cit des enfants perdus, La) (1995)',
  3.895237478304545),
 ('Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)', 3.4605292178829155),
 ('Dangerous Minds (1995)', 3.415509697312777),
 ('Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 4.039514206488706),
 ('Babe (1995)', 3.775009066103287),
 ('Dead Man Walking (1995)', 3.817807517440371),
 ('It Takes Two (1995)', 3.328645146453534),
 ('Clueless (1995)', 3.472301103466389),
 ('Cry, the Beloved Country (1995)', 3.757629075001343),
 ('Richard III (1995)', 3.7540975767291807),
 ('Dead Presidents (1995)', 3.4214522406910537),
 ('Restoration (1995)', 3.6272364898964233),
 ('Mortal Kombat (1995)', 2.969041713587705),
 ('To Die For (1995)', 3.5487948304655608),
 ('How to Make an American Quilt (1995)', 3.299581534582326),
 ('Seven (a.k.a. Se7en) (1995)', 4.067476333766342),
 ('Pocahontas (1995)', 3.3505963142443846),
 ('When Night Is Falling (1995)', 3.540710326335825),
 ('Usual Suspects, The (1995)', 4.321951249403596),
 ('Mighty Aphrodite (1995)', 3.545879475969977),
 ('Lamerica (1994)', 3.851064089753476),
 ('Big Green, The (1995)', 3.3426326399091413),
 ('Georgia (1995)', 3.6395804902671745),
 ('Home for the Holidays (1995)', 3.451802486516235),
 ('Postman, The (Postino, Il) (1994)', 3.9722034991726973),
 ('Indian in the Cupboard, The (1995)', 3.4657429360954826),
 ('Eye for an Eye (1996)', 3.739173736551601),
 ("Mr. Holland's Opus (1995)", 3.789400448319018),
 ("Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
  3.3298684128375773),
 ('Two if by Sea (1996)', 3.1746503176269125),
 ('Bio-Dome (1996)', 3.0704084039500956),
 ('Lawnmower Man 2: Beyond Cyberspace (1996)', 3.1310236549781996),
 ('French Twist (Gazon maudit) (1995)', 3.6227957343368677),
 ('Friday (1995)', 3.725810128446961),
 ('From Dusk Till Dawn (1996)', 3.582489884659135),
 ('Fair Game (1995)', 3.1114473064510615),
 ('Kicking and Screaming (1995)', 3.5094894302125863),
 ('Misrables, Les (1995)', 3.6670887463688597),
 ('Bed of Roses (1996)', 3.6697924048298702),
 ('Big Bully (1996)', 3.209777124982337),
 ('Screamers (1995)', 3.566990049255688),
 ('Nico Icon (1995)', 3.6518691390231677),
 ('Crossing Guard, The (1995)', 3.542365925449815),
 ('Juror, The (1996)', 3.188192455541208),
 ('White Balloon, The (Badkonake sefid) (1995)', 3.6463978958912184),
 ("Things to Do in Denver When You're Dead (1995)", 3.392680112165237),
 ("Antonia's Line (Antonia) (1995)", 3.7355829808183536),
 ('Once Upon a Time... When We Were Colored (1995)', 3.583963494462928),
 ('Angels and Insects (1995)', 3.9581782402845387),
 ('White Squall (1996)', 3.856257317488379),
 ('Dunston Checks In (1996)', 3.334356142571567),
 ('Black Sheep (1996)', 3.4677150297306127),
 ('Nick of Time (1995)', 3.5795573568273737),
 ('Mary Reilly (1996)', 3.261800370352545),
 ('Vampire in Brooklyn (1995)', 3.4099176500196244),
 ('Beautiful Girls (1996)', 3.849479115753488),
 ('Broken Arrow (1996)', 3.2071462603416685),
 ('In the Bleak Midwinter (1995)', 3.614000212715734),
 ('Hate (Haine, La) (1995)', 3.8376134994048985),
 ('Heidi Fleiss: Hollywood Madam (1995)', 3.839806768342141),
 ('City Hall (1996)', 3.3294923677500803),
 ('Bottle Rocket (1996)', 3.94437526860834),
 ('Mr. Wrong (1996)', 3.072844476061596),
 ('Unforgettable (1996)', 3.457903001598911),
 ('Happy Gilmore (1996)', 3.601782248373134),
 ('Bridges of Madison County, The (1995)', 3.528159941352276),
 ('Nobody Loves Me (Keiner liebt mich) (1994)', 3.6596607021003686),
 ('Muppet Treasure Island (1996)', 3.6137357164233306),
 ('Catwalk (1996)', 3.6518691390231677),
 ('Braveheart (1995)', 4.161822817765839),
 ('Taxi Driver (1976)', 4.130449062823219),
 ('Rumble in the Bronx (Hont faan kui) (1995)', 3.6961121281811873),
 ('Before and After (1996)', 3.4866139069939015),
 ('Anne Frank Remembered (1995)', 3.7321692419268766),
 ("Young Poisoner's Handbook, The (1995)", 3.5453390822478994),
 ('If Lucy Fell (1996)', 3.509299306575808),
 ('Steal Big, Steal Little (1995)', 3.5638973804216394),
 ('Boys of St. Vincent, The (1992)', 3.668820305203827),
 ('Boomerang (1992)', 3.1895289075448856),
 ('Chungking Express (Chung Hing sam lam) (1994)', 3.747055778820293),
 ('Flirting With Disaster (1996)', 3.8034939457470602),
 ('NeverEnding Story III, The (1994)', 3.033782343865116),
 ("Jupiter's Wife (1994)", 3.5507881712207237),
 ('Pie in the Sky (1996)', 3.4297484501155493),
 ('Jade (1995)', 3.5371085021975333),
 ('Down Periscope (1996)', 3.276199192684045),
 ('Man of the Year (1995)', 3.571510145821254),
 ('Up Close and Personal (1996)', 3.562052654158685),
 ('Birdcage, The (1996)', 3.66806263153261),
 ('Brothers McMullen, The (1995)', 3.6321714782139125),
 ('Bad Boys (1995)', 3.4494594263160203),
 ('Amazing Panda Adventure, The (1995)', 3.5597475151813374),
 ('Basketball Diaries, The (1995)', 3.7445097087313997),
 ('Awfully Big Adventure, An (1995)', 3.715824873662233),
 ('Amateur (1994)', 3.4700509572049856),
 ('Apollo 13 (1995)', 3.8945984751569247),
 ('Rob Roy (1995)', 3.644388783325217),
 ('Addiction, The (1995)', 3.3102743250173727),
 ('Batman Forever (1995)', 3.0670164564696667),
 ('Beauty of the Day (Belle de jour) (1967)', 3.808009084742874),
 ('Beyond Rangoon (1995)', 3.327335168811111),
 ('Blue in the Face (1995)', 3.5387132767786182),
 ('Canadian Bacon (1995)', 3.447235234037621),
 ('Casper (1995)', 3.178198749545323),
 ('Clockers (1995)', 3.3284623017195663),
 ('Congo (1995)', 3.0755099677938453),
 ('Crimson Tide (1995)', 3.8390488739276822),
 ('Crumb (1994)', 4.013885563609447),
 ('Desperado (1995)', 3.757832518968717),
 ('Devil in a Blue Dress (1995)', 3.6418642125755976),
 ('Die Hard: With a Vengeance (1995)', 3.7183280209355476),
 ('Doom Generation, The (1995)', 3.61720656620493),
 ('First Knight (1995)', 3.2233967152254346),
 ('Free Willy 2: The Adventure Home (1995)', 3.2626389799247764),
 ('Hackers (1995)', 3.4905099489004883),
 ('Jeffrey (1995)', 3.6727373146112647),
 ('Johnny Mnemonic (1995)', 3.0652585060916433),
 ('Judge Dredd (1995)', 3.090445141851839),
 ('Jury Duty (1995)', 3.313002801568959),
 ('Kids (1995)', 3.9965028467423487),
 ('Living in Oblivion (1995)', 3.986785869980617),
 ('Lord of Illusions (1995)', 3.2907320603400843),
 ('Love & Human Remains (1993)', 3.5966952919433712),
 ('Mad Love (1995)', 3.2671452905190166),
 ('Mallrats (1995)', 3.666804605644004),
 ('Mighty Morphin Power Rangers: The Movie (1995)', 2.948811910230506),
 ('Mute Witness (1994)', 3.595179486674715),
 ('Nadja (1994)', 3.600194792879002),
 ('Net, The (1995)', 3.2128395728408026),
 ('Nine Months (1995)', 3.059353053576016),
 ('Party Girl (1995)', 3.8587906532480396),
 ('Prophecy, The (1995)', 3.595135373900273),
 ('Reckless (1995)', 3.5427113837294435),
 ('Safe (1995)', 3.5249517832063235),
 ('Scarlet Letter, The (1995)', 3.2498867356347128),
 ('Showgirls (1995)', 2.853618334455843),
 ('Smoke (1995)', 3.762272558703373),
 ('Something to Talk About (1995)', 3.4838254809435143),
 ('Species (1995)', 2.9048489725290922),
 ('Strange Days (1995)', 3.472609445576001),
 ('Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
  3.7821261389760643),
 ('Three Wishes (1995)', 3.5966952919433712),
 ('Total Eclipse (1995)', 3.5471189709368653),
 ('To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
  3.6400395712774496),
 ('Under Siege 2: Dark Territory (1995)', 3.0082713023925685),
 ('Unstrung Heroes (1995)', 3.5732125225984164),
 ('Unzipped (1995)', 3.5396094949059975),
 ('Walk in the Clouds, A (1995)', 3.5680089131894523),
 ('Waterworld (1995)', 3.1082481017985937),
 ("White Man's Burden (1995)", 3.590312324853744),
 ('Wild Bill (1995)', 3.551850786392205),
 ('Browning Version, The (1994)', 3.633275016358906),
 ('Bushwhacked (1995)', 3.543134524578978),
 ('Burnt by the Sun (Utomlyonnye solntsem) (1994)', 3.6850067087505503),
 ('Before the Rain (Pred dozhdot) (1994)', 3.6518691390231677),
 ('Before Sunrise (1995)', 4.001075252789589),
 ('Billy Madison (1995)', 3.5785864621221615),
 ('Babysitter, The (1995)', 3.499892590938587),
 ('Boys on the Side (1995)', 3.678522220978454),
 ('Cure, The (1995)', 3.5427113837294435),
 ('Castle Freak (1995)', 3.5453390822478994),
 ('Circle of Friends (1995)', 3.6235387809036497),
 ('Clerks (1994)', 4.0392723023236154),
 ('Don Juan DeMarco (1995)', 3.7237839867704405),
 ('Disclosure (1994)', 3.596801310278418),
 ('Drop Zone (1994)', 3.138329039664729),
 ('Destiny Turns on the Radio (1995)', 3.3249353020882855),
 ('Death and the Maiden (1994)', 3.6711278053466345),
 ('Dolores Claiborne (1995)', 3.657202041629576),
 ('Dumb & Dumber (Dumb and Dumber) (1994)', 3.2011700082797665),
 ('Eat Drink Man Woman (Yin shi nan nu) (1994)', 3.608135798674774),
 ('Exotica (1994)', 3.686726702395673),
 ('Exit to Eden (1994)', 3.1058265626792916),
 ('Ed Wood (1994)', 3.8037080009606985),
 ('French Kiss (1995)', 3.5219516291173547),
 ('Forget Paris (1995)', 3.511685874944818),
 ('Far From Home: The Adventures of Yellow Dog (1995)', 3.6419943055877635),
 ('Goofy Movie, A (1995)', 3.3035978052323487),
 ('Hideaway (1995)', 3.3274694039341686),
 ('Fluke (1995)', 3.5966952919433712),
 ('Farinelli: il castrato (1994)', 3.6123602984724186),
 ('Gordy (1995)', 3.5427113837294435),
 ('Hoop Dreams (1994)', 4.155823039523348),
 ('Heavenly Creatures (1994)', 4.129035227964833),
 ('Houseguest (1994)', 3.4258882135406292),
 ('Immortal Beloved (1994)', 3.83124935188462),
 ('Heavyweights (Heavy Weights) (1995)', 3.4294954847664876),
 ('Hunted, The (1995)', 3.5431617870790544),
 ('I.Q. (1994)', 3.526133079789638),
 ('Interview with the Vampire: The Vampire Chronicles (1994)',
  3.638024213422425),
 ('Jefferson in Paris (1995)', 3.5427113837294435),
 ('Jerky Boys, The (1995)', 3.2443400646512837),
 ('Junior (1994)', 3.109162759260345),
 ('Just Cause (1995)', 3.590788207235325),
 ("Kid in King Arthur's Court, A (1995)", 3.321295107040141),
 ('Kiss of Death (1995)', 3.454100001455614),
 ('Star Wars: Episode IV - A New Hope (1977)', 4.3130924395741665),
 ('Little Women (1994)', 3.8900050814208678),
 ('Little Princess, A (1995)', 3.899024810104556),
 ('Ladybird Ladybird (1994)', 3.5966952919433712),
 ('Like Water for Chocolate (Como agua para chocolate) (1992)',
  3.9418006264856533),
 ('Legends of the Fall (1994)', 3.5583918245311734),
 ('Major Payne (1995)', 3.2269579346878836),
 ('My Crazy Life (Mi vida loca) (1993)', 3.5064734350088074),
 ('Love Affair (1994)', 3.4790636639880974),
 ('Losing Isaiah (1995)', 3.558801364764269),
 ('Madness of King George, The (1994)', 3.8196477781271745),
 ("Mary Shelley's Frankenstein (Frankenstein) (1994)", 3.319399152969763),
 ('Man of the House (1995)', 3.476663825464098),
 ('Mixed Nuts (1994)', 3.219999579039007),
 ('Milk Money (1994)', 3.3849531049276784),
 ('Miracle on 34th Street (1994)', 3.3682144925225797),
 ('Miami Rhapsody (1995)', 3.4700509572049856),
 ('My Family (1995)', 3.4658032232610894),
 ('Murder in the First (1995)', 3.8307473044025193),
 ("Nobody's Fool (1994)", 3.697211457010893),
 ('Nell (1994)', 3.463397336141899),
 ('New Jersey Drive (1995)', 3.5193203345992052),
 ('New York Cop (Ny Yku no koppu) (1993)', 3.651569980351593),
 ('Beyond Bedlam (1993)', 3.6362481731569902),
 ('Nina Takes a Lover (1994)', 3.5486713993580836),
 ('Natural Born Killers (1994)', 3.470686867566556),
 ('Only You (1994)', 3.5920485108362974),
 ('Once Were Warriors (1994)', 3.836626671020297),
 ('Poison Ivy II (1996)', 3.393420306192297),
 ('Outbreak (1995)', 3.5338286393509915),
 ('Lon: The Professional (a.k.a. The Professional) (Lon) (1994)',
  4.11362503044264),
 ('Perez Family, The (1995)', 3.5039652578127507),
 ("Pyromaniac's Love Story, A (1995)", 3.6250612194277614),
 ('Pulp Fiction (1994)', 4.24289136882213),
 ('Pushing Hands (Tui shou) (1992)', 3.428452601457033),
 ('Priest (1994)', 3.716252996125211),
 ('Quiz Show (1994)', 3.5514716969538602),
 ('Picture Bride (Bijo photo) (1994)', 3.6518691390231677),
 ('Queen Margot (Reine Margot, La) (1994)', 3.4357269149542318),
 ('Quick and the Dead, The (1995)', 3.368629602385507),
 ('Roommates (1995)', 3.7103712406258804),
 ('Ready to Wear (Pret-A-Porter) (1994)', 3.4896565171824543),
 ('Three Colors: Red (Trois couleurs: Rouge) (1994)', 3.951038824205374),
 ('Three Colors: Blue (Trois couleurs: Bleu) (1993)', 3.8612684604386684),
 ('Three Colors: White (Trzy kolory: Bialy) (1994)', 3.9116325976668946),
 ('Rent-a-Kid (1995)', 3.5427113837294435),
 ('Relative Fear (1994)', 3.5453390822478994),
 ('Stuart Saves His Family (1995)', 2.9075737934031887),
 ('Swan Princess, The (1994)', 3.5749285634006625),
 ('Secret of Roan Inish, The (1994)', 3.8141783921462706),
 ('Specialist, The (1994)', 3.3205415533791753),
 ('Stargate (1994)', 3.492865167605521),
 ('Santa Clause, The (1994)', 3.4422087780234047),
 ('Shallow Grave (1994)', 3.783590657890263),
 ('Suture (1993)', 3.5609600481140764),
 ('Strawberry and Chocolate (Fresa y chocolate) (1993)', 3.673895096150894),
 ('Swimming with Sharks (1995)', 3.723954435699783),
 ('Sum of Us, The (1994)', 3.6395804902671745),
 ("National Lampoon's Senior Trip (1995)", 3.325724256960975),
 ('To Live (Huozhe) (1994)', 3.692251771892106),
 ('Tank Girl (1995)', 3.1841117384277577),
 ('Tales from the Crypt Presents: Demon Knight (1995)', 3.514135905328401),
 ('Star Trek: Generations (1994)', 3.5179860398430916),
 ('Tales from the Hood (1995)', 3.41525113900512),
 ('Tom & Viv (1994)', 3.5609600481140764),
 ('Village of the Damned (1995)', 3.3834828251431417),
 ('Vanya on 42nd Street (1994)', 3.8958250019784546),
 ('Underneath (1995)', 3.632578414202762),
 ('Walking Dead, The (1995)', 3.5427113837294435),
 ("What's Eating Gilbert Grape (1993)", 3.936365303425052),
 ('Virtuosity (1995)', 3.1232573304234688),
 ('While You Were Sleeping (1995)', 3.6265085552373897),
 ('War, The (1994)', 3.587095733947028),
 ('Double Happiness (1994)', 3.655373928506366),
 ("Muriel's Wedding (1994)", 3.4823470671425336),
 ('Baby-Sitters Club, The (1995)', 3.487595754217141),
 ('Ace Ventura: Pet Detective (1994)', 3.2173365942849164),
 ('Adventures of Priscilla, Queen of the Desert, The (1994)',
  3.861374331361065),
 ('Backbeat (1993)', 3.6964002168659302),
 ('Bitter Moon (1992)', 3.645501501547271),
 ('Bullets Over Broadway (1994)', 3.672789784867502),
 ('Clear and Present Danger (1994)', 3.7422070122087625),
 ('Client, The (1994)', 3.546600622058966),
 ('Corrina, Corrina (1994)', 3.5531363930272084),
 ('Crooklyn (1994)', 3.472988289512548),
 ('Crow, The (1994)', 3.842202923779009),
 ('Cobb (1994)', 3.625243018511357),
 ('Flintstones, The (1994)', 2.950781201060285),
 ('Forrest Gump (1994)', 4.255395947579403),
 ('Four Weddings and a Funeral (1994)', 3.7232035475817535),
 ('Higher Learning (1995)', 3.2506342189144983),
 ('I Like It Like That (1994)', 3.5427113837294435),
 ('I Love Trouble (1994)', 3.361185108594493),
 ('It Could Happen to You (1994)', 3.396632577465391),
 ('Jungle Book, The (1994)', 3.6264618920867537),
 ('Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
  3.6518691390231677),
 ('Lion King, The (1994)', 4.042718046797056),
 ('Little Buddha (1993)', 3.559314962856005),
 ("Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
  3.4709188613629736),
 ('Mask, The (1994)', 3.3588511534852024),
 ('Maverick (1994)', 3.7015749583022672),
 ('Mrs. Parker and the Vicious Circle (1994)', 3.686582750230004),
 ('Naked Gun 33 1/3: The Final Insult (1994)', 3.3695930440979014),
 ('Paper, The (1994)', 3.596837380758606),
 ('Reality Bites (1994)', 3.2934290291803556),
 ('Red Rock West (1992)', 3.718208248390435),
 ('Richie Rich (1994)', 2.810470368075493),
 ('River Wild, The (1994)', 3.397496186849373),
 ('Speed (1994)', 3.6537190732337015),
 ('Speechless (1994)', 3.497484335656465),
 ('Timecop (1994)', 3.183861009258936),
 ('True Lies (1994)', 3.6139891470797485),
 ('When a Man Loves a Woman (1994)', 3.718995020603155),
 ('Wolf (1994)', 3.3597673923171034),
 ('Wyatt Earp (1994)', 3.4139775952089577),
 ('Bad Company (1995)', 3.5634263442936955),
 ('Man of No Importance, A (1994)', 3.6390727067045106),
 ('S.F.W. (1994)', 3.5638973804216394),
 ('Low Down Dirty Shame, A (1994)', 3.5159180103471734),
 ('Boys Life (1995)', 3.4809860841037787),
 ('Colonel Chabert, Le (1994)', 3.7437771168525447),
 ('Faster Pussycat! Kill! Kill! (1965)', 3.6824537051738697),
 ("Jason's Lyric (1994)", 3.7360580577823774),
 ('Street Fighter (1994)', 3.1986272990166347),
 ('Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
  3.1625514719076055),
 ('Federal Hill (1994)', 3.5966952919433712),
 ('In the Mouth of Madness (1995)', 3.6130091554474286),
 ('8 Seconds (1994)', 3.517441589644929),
 ('Above the Rim (1994)', 3.535192058521891),
 ('Addams Family Values (1993)', 3.2709346470389664),
 ('Age of Innocence, The (1993)', 3.660727020549638),
 ('Airheads (1994)', 3.207488692688905),
 ('Air Up There, The (1994)', 3.291881164777234),
 ('Another Stakeout (1993)', 3.1014926796005398),
 ('Bad Girls (1994)', 3.360501010138843),
 ('Barcelona (1994)', 3.7159843265859824),
 ('Being Human (1993)', 3.5966952919433712),
 ('Beverly Hillbillies, The (1993)', 3.0547677293910884),
 ('Beverly Hills Cop III (1994)', 3.072384511818152),
 ('Black Beauty (1994)', 3.5575683885095573),
 ('Blink (1994)', 3.619648488710161),
 ('Blown Away (1994)', 3.359716208487563),
 ('Blue Chips (1994)', 3.453474795617108),
 ('Blue Sky (1994)', 3.6525168598615436),
 ('Body Snatchers (1993)', 3.641467020545386),
 ('Boxing Helena (1993)', 3.2121285535286237),
 ('Bronx Tale, A (1993)', 3.7630815301668843),
 ('Cabin Boy (1994)', 3.270775028703834),
 ('Calendar Girl (1993)', 3.68529665351946),
 ("Carlito's Way (1993)", 3.8674226613192593),
 ("City Slickers II: The Legend of Curly's Gold (1994)", 3.0193401544080247),
 ('Clean Slate (1994)', 3.3850789085029045),
 ('Cliffhanger (1993)', 3.247674918873743),
 ('Coneheads (1993)', 2.8247541559594027),
 ('Color of Night (1994)', 3.3773456244355304),
 ('Cops and Robbersons (1994)', 3.144947674145986),
 ('Cowboy Way, The (1994)', 3.411857989693343),
 ('Dave (1993)', 3.749084355277122),
 ('Dazed and Confused (1993)', 4.019602411186268),
 ('Demolition Man (1993)', 3.290227581671563),
 ('Even Cowgirls Get the Blues (1993)', 3.300640108150487),
 ('Fatal Instinct (1993)', 3.4063256838942753),
 ('Farewell My Concubine (Ba wang bie ji) (1993)', 3.892758709061643),
 ('Fearless (1993)', 3.7404995511584165),
 ('Fear of a Black Hat (1994)', 3.4022539648742587),
 ('With Honors (1994)', 3.443085608656281),
 ('Flesh and Bone (1993)', 3.640012043138027),
 ("Widows' Peak (1994)", 3.591519353937902),

In [83]:
movies_df['split_genres'] = movies_df['genres'].iloc[0:].apply(lambda x: x.lower().split('|'))

movies = []
for i in movies_df['split_genres']:
    for x in i:
        movies.append(x)

In [84]:
list(set(movies))

['thriller',
 'romance',
 'crime',
 'fantasy',
 'animation',
 'western',
 'children',
 'film-noir',
 'musical',
 '(no genres listed)',
 'horror',
 'action',
 'sci-fi',
 'war',
 'drama',
 'adventure',
 'mystery',
 'comedy',
 'documentary',
 'imax']

In [85]:
tags_df['tag_clean'] = tags_df['tag'].iloc[0:].apply(lambda x: x.lower().replace(' ', ''))
tags_df['tag_clean'].head()

0             funny
1    highlyquotable
2       willferrell
3       boxingstory
4               mma
Name: tag_clean, dtype: object

## Final Model

## Results/Conclusions

### Further Exploration/Questions