insert header

# Title

## Business Understanding and Business Problem

### Cost of Errors

## Data Understanding

In [1]:
#imports grabbed from lecture
from random import gauss as gs, uniform as uni, seed
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

### Initial Data

In [2]:
#the four csv files provided
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

## Exploratory Data Analysis

## Movies df

In [7]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [11]:
movies_df.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

## Ratings df

In [9]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [12]:
ratings_df.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [24]:
ratings_df = ratings_df.drop(columns=['timestamp'])
ratings_df.head(1)

   userId  movieId  rating
0       1        1     4.0

## Tags df

In [13]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [14]:
tags_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3683 entries, 0 to 3682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     3683 non-null   int64
 1   movieId    3683 non-null   int64
 2   tag        3683 non-null   object
 3   timestamp  3683 non-null   int64
dtypes: int64(3), object(1)
memory usage: 115.2+ KB

In [15]:
tags_df.isna().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [25]:
tags_df = tags_df.drop(columns=['timestamp'])
tags_df.head(1)

   userId  movieId    tag
0       2    60756  funny

## Combining dataframes

In [28]:
combined_df = pd.merge(movies_df, ratings_df, on='movieId')
combined_df = pd.merge(combined_df, tags_df, on='movieId')

In [29]:
combined_df.head()

,movieId,title,genres,userId_x,rating,userId_y,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,336,pixar
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,474,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,567,fun
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,336,pixar
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,474,pixar

In [30]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233213 entries, 0 to 233212
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   movieId   233213 non-null  int64
 1   title     233213 non-null  object
 2   genres    233213 non-null  object
 3   userId_x  233213 non-null  int64
 4   rating    233213 non-null  float64
 5   userId_y  233213 non-null  int64
 6   tag       233213 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 14.2+ MB

In [40]:
combined_df['title'].value_counts()

Pulp Fiction (1994)                                               55567
Fight Club (1999)                                                 11772
Star Wars: Episode IV - A New Hope (1977)                          6526
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)     4655
2001: A Space Odyssey (1968)                                       4469
                                                                  ...
Shot in the Dark, A (1964)                                            1
Americanization of Emily, The (1964)                                  1
Georgy Girl (1966)                                                    1
Stray Dog (Nora inu) (1949)                                           1
Two Family House (2000)                                               1
Name: title, Length: 1554, dtype: int64

In [37]:
combined_df.isna().sum()

movieId     0
title       0
genres      0
userId_x    0
rating      0
userId_y    0
tag         0
dtype: int64

## Modeling

## Final Model

## Results/Conclusions

### Further Exploration/Questions

## Pickling / Deploying

In [1]:
# Install surprise
!pip install scikit-surprise

#imports grabbed from lecture
from random import gauss as gs, uniform as uni, seed
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

Collecting scikit-surprise
  Using cached scikit-surprise-1.1.3.tar.gz (771 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib>=1.0.0 in /Users/michaellicul/miniconda3/lib/python3.10/site-packages (from scikit-surprise) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/michaellicul/miniconda3/lib/python3.10/site-packages (from scikit-surprise) (1.22.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/michaellicul/miniconda3/lib/python3.10/site-packages (from scikit-surprise) (1.9.3)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.3-cp310-cp310-macosx_11_0_arm64.whl size=703431 sha256=4596b2568aa3e21328dbd085b66bb7994371ba80e70aebf81ab69762e67a8d49
  Stored in directory: /Users/michaellicul/Library/Caches/pip/wheels/df/e4/a6/7ad72453dd693f420b0c639bedeec34641738d11b55d8d9b84
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.3

In [3]:
# Loading in the dataset
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

In [4]:
# Dropping 'timestamp'

new_rating_df= ratings_df.drop(columns='timestamp')
new_rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [5]:
# Transform the dataset into something compatible with surprise

from surprise import Reader, Dataset
reader = Reader()
data = Dataset.load_from_df(new_rating_df,reader)

In [6]:
# Check how many users and items

dataset = data.build_full_trainset()
print('Number of users: ', dataset.n_users, '\n')
print('Number of items: ', dataset.n_items)

Number of users:  610

Number of items:  9724

In [1]:
# importing relevant libraries
from random import gauss as gs, uniform as uni, seed
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

from surprise import Reader, Dataset
from surprise.model_selection import train_test_split
from surprise.prediction_algorithms import knns, SVD, BaselineOnly
from surprise.similarities import cosine, msd, pearson
from surprise import accuracy


import warnings
warnings.filterwarnings('ignore')

## Gridsearch with SVD

In [8]:
# Perform a gridsearch with SVD

params = {'n_factors': [20, 50, 100],
         'reg_all': [0.02, 0.05, 0.1]}
g_s_svd = GridSearchCV(SVD,param_grid=params,n_jobs=-1)
g_s_svd.fit(data)

In [9]:
print(g_s_svd.best_score)
print(g_s_svd.best_params)

{'rmse': 0.8694546142759165, 'mae': 0.668161945863442}
{'rmse': {'n_factors': 100, 'reg_all': 0.05}, 'mae': {'n_factors': 100, 'reg_all': 0.05}}

In [10]:
# cross validating with KNNBasic

knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)

In [11]:
for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.97529706, 0.97516195, 0.97113164, 0.97308327, 0.97295696]))
('test_mae', array([0.75366614, 0.75622297, 0.74913707, 0.75154402, 0.74796242]))
('fit_time', (0.395021915435791, 0.43398594856262207, 0.432574987411499, 0.4382631778717041, 0.4154820442199707))
('test_time', (1.321476697921753, 1.3213598728179932, 1.3448669910430908, 1.3043079376220703, 1.2896769046783447))
-----------------------
0.973526175687596

In [12]:
# cross validating with KNNBaseline

knn_baseline = KNNBaseline(sim_options={'name':'pearson', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline,data)

Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson similarity matrix...
Done computing similarity matrix.

In [13]:
for i in cv_knn_baseline.items():
    print(i)

np.mean(cv_knn_baseline['test_rmse'])

('test_rmse', array([0.88100037, 0.87763689, 0.87443019, 0.87208038, 0.88264605]))
('test_mae', array([0.67351467, 0.67149872, 0.66737625, 0.66726616, 0.67170942]))
('fit_time', (0.3340578079223633, 0.34158968925476074, 0.3258070945739746, 0.3423957824707031, 0.35990214347839355))
('test_time', (1.186673879623413, 1.2270252704620361, 1.1852138042449951, 1.2273390293121338, 1.1466948986053467))

0.8775587771284579

## Making Simple Predictions

In [14]:
svd = SVD(n_factors= 50, reg_all=0.05)
svd.fit(dataset)

In [15]:
svd.predict(2, 4)

Prediction(uid=2, iid=4, r_ui=None, est=2.9086201427635374, details={'was_impossible': False})

In [16]:
def movie_rater(movies_df, num, genre=None):
    userID = 1000
    rating_list = []
    while num > 0:
        if genre:
            movie = movies_df[movies_df['genres'].str.contains(genre)].sample(1)
        else:
            movie = movies_df.sample(1)
        print(movie)
        rating = input('How do you rate this movie on a scale of 1-5, press n if you have not seen :\n')
        if rating == 'n':
            continue
        else:
            rating_one_movie = {'userId':userID,'movieId':movie['movieId'].values[0],'rating':rating}
            rating_list.append(rating_one_movie) 
            num -= 1
    return rating_list

In [17]:
user_rating = movie_rater(movies_df, 4, 'Comedy')

      movieId                             title  genres
7005    67888  Man on the Flying Trapeze (1935)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
n
      movieId                 title                     genres
7946    95858  For the Birds (2000)  Animation|Children|Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId                       title  genres
3060     4104  Ernest Goes to Camp (1987)  Comedy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5
      movieId               title          genres
4697     7012  Mr. Destiny (1990)  Comedy|Fantasy
How do you rate this movie on a scale of 1-5, press n if you have not seen :
4
      movieId                                              title        genres
5245     8601  Zero de conduite (Zero for Conduct) (Zéro de c...  Comedy|Drama
How do you rate this movie on a scale of 1-5, press n if you have not seen :
5

In [18]:
user_rating

[{'userId': 1000, 'movieId': 95858, 'rating': '4'},
 {'userId': 1000, 'movieId': 4104, 'rating': '5'},
 {'userId': 1000, 'movieId': 7012, 'rating': '4'},
 {'userId': 1000, 'movieId': 8601, 'rating': '5'}]

In [19]:
## add the new ratings to the original ratings DataFrame

new_ratings_df = new_rating_df.append(user_rating, ignore_index=True)
new_data = Dataset.load_from_df(new_ratings_df, reader)

In [20]:
# train a model using the new combined DataFrame

svd_ = SVD(n_factors= 50, reg_all=0.05)
svd_.fit(new_data.build_full_trainset())

In [21]:
# make predictions for the user
# you'll probably want to create a list of tuples in the format (movie_id, predicted_score)

list_of_movies = []
for m_id in new_rating_df['movieId'].unique():
    list_of_movies.append( (m_id,svd_.predict(1000,m_id)[3]))

In [22]:
# order the predictions from highest to lowest rated

ranked_movies = sorted(list_of_movies, key=lambda x:x[1], reverse=True)

In [23]:
# return the top n recommendations using the 
def recommended_movies(user_ratings, movie_title_df, n):
        for idx, rec in enumerate(user_ratings):
            title = movie_title_df.loc[movie_title_df['movieId'] == int(rec[0])]['title']
            print('Recommendation # ', idx+1, ': ', title, '\n')
            n-= 1
            if n == 0:
                break
            
recommended_movies(ranked_movies, movies_df, 5)

Recommendation #  1 :  841    Streetcar Named Desire, A (1951)
Name: title, dtype: object

Recommendation #  2 :  277    Shawshank Redemption, The (1994)
Name: title, dtype: object

Recommendation #  3 :  694    Casablanca (1942)
Name: title, dtype: object

Recommendation #  4 :  686    Rear Window (1954)
Name: title, dtype: object

Recommendation #  5 :  933    Boot, Das (Boat, The) (1981)
Name: title, dtype: object

## Trying to get model for Google CLoud

In [3]:
movies_df['split_genres'] = movies_df['genres'].iloc[0:].apply(lambda x: x.lower().split('|'))
movies_df['genres'] = movies_df['genres'].iloc[0:].apply(lambda x: x.lower())

In [4]:
ratings_df.drop('timestamp', axis=1, inplace=True)

In [5]:
merged_df = ratings_df.merge(movies_df, how='outer', on='movieId')

In [6]:
merged_df.head(3)

,userId,movieId,rating,title,genres,split_genres
0,1.0,1,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
1,5.0,1,4.0,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"
2,7.0,1,4.5,Toy Story (1995),adventure|animation|children|comedy|fantasy,"[adventure, animation, children, comedy, fantasy]"

In [7]:
merged_df.dropna(inplace=True)

### Modeling

In [8]:
model_df = merged_df.drop(['title', 'genres', 'split_genres'], axis=1)

In [9]:
reader = Reader()
data = Dataset.load_from_df(model_df,reader)

In [10]:
trainset, testset = train_test_split(data, test_size=.2, random_state=42)

In [11]:
print('Number of users: ', trainset.n_users, '\n')
print('Number of items: ', trainset.n_items)

Number of users:  610

Number of items:  8982

#### Baseline

In [12]:
baseline = BaselineOnly()
baseline.fit(trainset)

Estimating biases using als...

In [13]:
base_predictions = baseline.test(testset)

In [14]:
accuracy.rmse(base_predictions)

RMSE: 0.8734

0.8734341181528673

#### KNN with Z-score

In [15]:
knn_z = knns.KNNWithZScore(random_state=42)
knn_z.fit(trainset=trainset)

knn_z_predictions = knn_z.test(testset)

accuracy.rmse(knn_z_predictions)

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.8963

0.8962709994505563

#### Model with SVD

In [16]:
svd = SVD(random_state=42)
svd.fit(trainset)

svd_predictions = svd.test(testset)

accuracy.rmse(svd_predictions)

RMSE: 0.8757

0.8757353176838333